body,html
{
	margin:0;
	padding:0;
	background-color: #12263D;
	overflow-x: hidden;
}
.knopka
{
	position: absolute;
	right:0;
	top:300px;
	background-color: #004050;
	color:#fff;
	cursor:pointer;
	text-align: center;
}
input
{
	position: absolute;
	outline: none;
	border:none;
	text-align: center;
	padding: 20px 0;
	font-size: 15px;
	cursor: pointer;
}
input::placeholder
{
    color:#fff;
}
.rolex
{
    background-color: #34599F;
    top:30px;
	left:50%;
	transform: translateX(-50%);
}
.anormal
{
	display: block;
	position: absolute;
	width:15px;
	height: 15px;
	border-radius:50%; 
	cursor: pointer;
}
.lol
{
	position: absolute;
}
i
{
	position: absolute;
	text-align: center;
	border-radius:50%;
	width:25px;
	height:25px;
	line-height:25px;
	color:#FFFFF2;
	font-size: 10px;
	box-shadow: 0 0 10px 2px #E8D6A7;
	cursor: pointer;
}
#kiol
{
	left:60%;
	top:40px;
}
